p, h1, h2, h3, h4, h5, label, button
{
    font-family: 'Barlow', 'Arial', 'sans-serif' !important;
}

html, body
{
    position: relative;
    height: calc(100vh - 0px);
    padding: 0px 24px 24px 24px;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.form-auth-background
{
    padding: 2rem;
    background-color: white;
    border-radius: 1em !important;
    width: 500px;
}

.form-auth-signin-title
{
    align-items: center;
    justify-content: center;
    padding: 5px;
}
