@inherits LayoutComponentBase

<MudThemeProvider />
<MudLayout>
    <MudAppBar>
        My Application
    </MudAppBar>
    <MudMainContent>
        <div style="padding: 40px;">
            @Body
        </div>
    </MudMainContent>
</MudLayout>
